{
  "Jwt": {
    "Key": "REEMPLAZAR-por-una-clave-secreta-propia-larga",
    "Issuer": "SistemaCACC",
    "Audience": "SistemaCACC"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "ConexionSQL": "Server=TU_SERVIDOR;Database=TU_BASE;Trusted_Connection=True;TrustServerCertificate=True;"
  }
}
